<div class="card" [ngClass]="class">
  <div class="card-body p-5">
    <div class="row" *ngIf="logo">
      <img src="../../../assets/img/endalia.jpg"  class="card-img-top w-50 m-auto" alt="...">
    </div>
    <form method="post" [formGroup]="form">
      <div class="form-row pb-4" >
        <label for="">Usuario</label>
        <div class="col-12">
          <input type="email" formControlName="usuario" (change)="checkForm()" [ngClass]="{'is-invalid': form.get('usuario')?.invalid && (form.get('usuario')?.dirty || form.get('usuario')?.touched)}" placeholder="usuario@domain.com" class="form-control" required #usuario />
          <div *ngIf="form.get('usuario')?.invalid">
            <p class="text-danger" *ngIf="form.get('usuario')?.errors?.['required'] && (this.form.get('usuario')?.dirty || this.form.get('usuario')?.touched)">Campo Requerido</p>
            <p class="text-danger" *ngIf="form.get('usuario')?.errors?.['email'] && (this.form.get('usuario')?.dirty || this.form.get('usuario')?.touched)">Formato de correo Inválido</p>
          </div>
        </div>

      </div>
      <div class="form-row pb-4" >
        <label for="">Clave</label>
        <div class="col-12">
          <input type="password" formControlName="clave" (change)="checkForm()" class="form-control" [ngClass]="{'is-invalid': form.get('clave')?.invalid && (form.get('clave')?.dirty || form.get('clave')?.touched)}" required #clave />
          <div *ngIf="form.get('clave')?.invalid">
            <p class="text-danger" *ngIf="form.get('clave')?.errors?.['required'] && (this.form.get('clave')?.dirty || this.form.get('clave')?.touched)">Campo Requerido</p>
          </div>
        </div>

      </div>
      <div class="form-row pb-4" >
        <div class="d-grid">
          <button class="btn btn-primary" [ngClass]="{'btn-warning': form.status ==='INVALID'}" (click)="send()" [disabled]="form.status ==='INVALID'" >Ingresar</button>
        </div>
      </div>
    </form>
  </div>
</div>
