<app-header></app-header>
<div class="container-fluid p-2">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <span class="breadcrumb-item"><a>Home</a></span>
    <span class="breadcrumb-item text-primary"><a>Empleados</a></span>
  </nav>
  <div class="row">
    <div class="col-sm-6 mb-2" *ngFor="let empleado of empleados">
      <div class="card bg-light shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/img/perfil-h.png" *ngIf="empleado.genero==='h'" class="w-100" alt="Endalia Hr">
              <img src="../../../assets/img/perfil-m.png" *ngIf="empleado.genero==='m'"class="w-100" alt="Endalia Hr">
            </div>
            <div class="col-10">
              <h5 class="card-title">{{ empleado.apellidos }}, {{ empleado.nombre }}</h5>
              <p class="card-text">{{ empleado.puesto }}</p>
              <div>
                <a class="card-text text-muted" href="tel:{{ empleado.telefono }}">{{ empleado.telefono }}</a>
              </div>
              <div>
                <a class="card-text text-muted" href="mailto:{{ empleado.correo }}">{{ empleado.correo }}</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
