<div class="container-fluid">
  <div class="row">
    <div class="col-12 bg-primary p-2">
      <h4 class="position-relative float-start text-white">Endalia HR</h4>
      <button (click)="logout()" class="btn btn-primary btn-sm float-end position-relative">Cerrar Sesión</button>
    </div>
  </div>
</div>
