<div class="container-fluid login h-100">
  <div class="row h-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="col-12 col-lg-6">
      <app-card  [campos]="campos" [class]="'w-50 m-auto'" [logo]="true" (data)="handle($event)"></app-card>
    </div>
  </div>
</div>
