/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";

html,body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}


div.login{
  background: url('../src/assets/img/oficina.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
